[user]
	name = Stefan Lendl
	email = ste.lendl@gmail.com
[push]
	default = matching
[merge]
	tool = diffconflicts
[diff]
	tool = gvimdiff
[core]
	editor = gvim
[difftool]
	prompt = false
[alias]
   d = diff
	dt = difftool
   m = merge
   mt = mergetool
   s = status
   cam = commit -am
   c = commit
   co = checkout
   cl = clone
   br = branch
   l = log
   graph = log --graph --decorate --oneline --all
   ls = ls-files
[mergetool "diffconflicts"]
	cmd = diffconflicts gvim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
   ; exit with :cq to tell git that is has been resolved
[color]
	ui = auto
